In [ ]:
%matplotlib inline
!pip install contextily
!pip install geopandas
import pandas as pd
import geopandas
import contextily as ctx

Collecting contextily
  Downloading contextily-1.2.0-py3-none-any.whl (16 kB)
Collecting xyzservices
  Downloading xyzservices-2022.1.1-py3-none-any.whl (35 kB)
Requirement already satisfied: pillow in /usr/local/lib/python3.7/dist-packages (from contextily) (7.1.2)
Requirement already satisfied: geopy in /usr/local/lib/python3.7/dist-packages (from contextily) (1.17.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from contextily) (3.2.2)
Collecting rasterio
  Downloading rasterio-1.2.10-cp37-cp37m-manylinux1_x86_64.whl (19.3 MB)
     |████████████████████████████████| 19.3 MB 1.2 MB/s
Collecting mercantile
  Downloading mercantile-1.2.1-py3-none-any.whl (14 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from contextily) (2.23.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from contextily) (1.1.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.7/dist-packages (from geopy->contextily) (1.52)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->contextily) (3.0.7)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib->contextily) (1.19.5)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->contextily) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->contextily) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->contextily) (0.11.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->contextily) (1.15.0)
Requirement already satisfied: click>=3.0 in /usr/local/lib/python3.7/dist-packages (from mercantile->contextily) (7.1.2)
Requirement already satisfied: attrs in /usr/local/lib/python3.7/dist-packages (from rasterio->contextily) (21.4.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from rasterio->contextily) (57.4.0)
Collecting affine
  Downloading affine-2.3.0-py2.py3-none-any.whl (15 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from rasterio->contextily) (2021.10.8)
Collecting snuggs>=1.4.1
  Downloading snuggs-1.4.7-py3-none-any.whl (5.4 kB)
Collecting click-plugins
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->contextily) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->contextily) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->contextily) (1.24.3)
Installing collected packages: snuggs, cligj, click-plugins, affine, xyzservices, rasterio, mercantile, contextily
Successfully installed affine-2.3.0 click-plugins-1.1.1 cligj-0.7.2 contextily-1.2.0 mercantile-1.2.1 rasterio-1.2.10 snuggs-1.4.7 xyzservices-2022.1.1
Collecting geopandas
  Downloading geopandas-0.10.2-py2.py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 4.5 MB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.0)
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 41.2 MB/s
Collecting fiona>=1.8
  Downloading Fiona-1.8.21-cp37-cp37m-manylinux2014_x86_64.whl (16.7 MB)
     |████████████████████████████████| 16.7 MB 191 kB/s
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.10.8)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.4.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Installing collected packages: munch, pyproj, fiona, geopandas
Successfully installed fiona-1.8.21 geopandas-0.10.2 munch-2.5.0 pyproj-3.2.1

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
com = geopandas.read_file('/content/drive/MyDrive/Colab Notebooks/geopandas-tutorial-master/Limiti01012021_g/Com01012021_g')
prov = geopandas.read_file('/content/drive/MyDrive/Colab Notebooks/geopandas-tutorial-master/Limiti01012021_g/ProvCM01012021_g')
reg = geopandas.read_file('/content/drive/MyDrive/Colab Notebooks/geopandas-tutorial-master/Limiti01012021_g/Reg01012021_g')

- Visualizzare il nome della provincia e il nome della regione

In [ ]:
prov_reg= pd.merge(prov,reg,how='inner', on=['COD_REG'])[['DEN_UTS','DEN_REG']]
prov_reg

          DEN_UTS   DEN_REG
0          Torino  Piemonte
1        Vercelli  Piemonte
2          Novara  Piemonte
3           Cuneo  Piemonte
4            Asti  Piemonte
..            ...       ...
102       Sassari  Sardegna
103         Nuoro  Sardegna
104      Cagliari  Sardegna
105      Oristano  Sardegna
106  Sud Sardegna  Sardegna

[107 rows x 2 columns]

In [ ]:
prov

     COD_RIP  ...                                           geometry
0          1  ...  POLYGON ((411015.006 5049970.983, 411266.039 5...
1          1  ...  POLYGON ((438328.612 5087208.215, 439028.888 5...
2          1  ...  POLYGON ((460929.542 5076320.298, 461165.259 5...
3          1  ...  MULTIPOLYGON (((378673.492 4958865.159, 378928...
4          1  ...  POLYGON ((425041.329 4997628.309, 424948.989 4...
..       ...  ...                                                ...
102        1  ...  POLYGON ((457749.464 5145501.795, 458662.395 5...
103        1  ...  POLYGON ((519754.706 5065242.380, 520199.702 5...
104        3  ...  POLYGON ((884760.019 4804406.440, 885511.011 4...
105        4  ...  POLYGON ((1081237.144 4611047.023, 1081399.393...
106        5  ...  MULTIPOLYGON (((448813.650 4301762.751, 448823...

[107 rows x 13 columns]

In [ ]:
com

      COD_RIP  ...                                           geometry
0           1  ...  POLYGON ((404703.558 5026682.655, 405359.554 5...
1           1  ...  POLYGON ((380700.909 4977305.520, 381105.998 4...
2           1  ...  POLYGON ((364710.857 5022090.678, 364737.794 5...
3           1  ...  POLYGON ((415942.504 5033304.609, 416079.315 5...
4           1  ...  POLYGON ((376934.962 4999073.854, 376960.555 4...
...       ...  ...                                                ...
7898        5  ...  MULTIPOLYGON (((556602.772 4375162.650, 556598...
7899        5  ...  POLYGON ((541186.146 4375105.653, 541180.146 4...
7900        5  ...  MULTIPOLYGON (((546451.098 4325900.553, 546443...
7901        5  ...  POLYGON ((500362.475 4361229.767, 500397.474 4...
7902        5  ...  POLYGON ((494131.525 4353208.832, 494847.519 4...

[7903 rows x 13 columns]

- Visualizzare il nome della provincia e il nome del comune

In [ ]:
prov_com= pd.merge(prov,com,how='inner', on=['COD_PROV'])[['COMUNE','DEN_UTS']]
prov_com

               COMUNE       DEN_UTS
0              AgliÃ¨        Torino
1             Airasca        Torino
2        Ala di Stura        Torino
3     Albiano d'Ivrea        Torino
4              Almese        Torino
...               ...           ...
7898       Villaputzu  Sud Sardegna
7899       Villasalto  Sud Sardegna
7900      Villasimius  Sud Sardegna
7901         Villasor  Sud Sardegna
7902    Villaspeciosa  Sud Sardegna

[7903 rows x 2 columns]

- Visualizzare il nome del comune e il nome della regione

In [ ]:
com_reg= pd.merge(com,reg,how='inner', on=['COD_REG'])[['COMUNE','DEN_REG']]
com_reg

               COMUNE     DEN_REG
0              AgliÃ¨    Piemonte
1             Airasca    Piemonte
2        Ala di Stura    Piemonte
3     Albiano d'Ivrea    Piemonte
4              Almese    Piemonte
...               ...         ...
7898        Stigliano  Basilicata
7899        Tricarico  Basilicata
7900            Tursi  Basilicata
7901         Valsinni  Basilicata
7902  Scanzano Jonico  Basilicata

[7903 rows x 2 columns]

- Visualizzare numero di comuni per ogni provincia

In [ ]:
prov_com.groupby('COD_PROV').count().reset_index()

KeyError: ignored

- Visualizzare numero di comuni per ogni regione

In [ ]:
com_reg.groupby('DEN_REG').count().reset_index()[['DEN_REG', 'COD_PROV']]

                  DEN_REG  COD_PROV
0                 Abruzzo       305
1              Basilicata       131
2                Calabria       404
3                Campania       550
4          Emilia-Romagna       328
5   Friuli Venezia Giulia       215
6                   Lazio       378
7                 Liguria       234
8               Lombardia      1506
9                  Marche       227
10                 Molise       136
11               Piemonte      1181
12                 Puglia       257
13               Sardegna       377
14                Sicilia       390
15                Toscana       273
16    Trentino-Alto Adige       282
17                 Umbria        92
18          Valle d'Aosta        74
19                 Veneto       563

- Visualizzare numero di province per ogni regione

In [ ]:
prov_reg.groupby('DEN_REG').count().reset_index()[['DEN_REG', 'COD_PROV']]

                  DEN_REG  COD_PROV
0                 Abruzzo         4
1              Basilicata         2
2                Calabria         5
3                Campania         5
4          Emilia-Romagna         9
5   Friuli Venezia Giulia         4
6                   Lazio         5
7                 Liguria         4
8               Lombardia        12
9                  Marche         5
10                 Molise         2
11               Piemonte         8
12                 Puglia         6
13               Sardegna         5
14                Sicilia         9
15                Toscana        10
16    Trentino-Alto Adige         2
17                 Umbria         2
18          Valle d'Aosta         1
19                 Veneto         7