a. far inserie all'utente due valori interi

In [4]:
num1= int(input("inserire il primo valore:"))
num2= int(input("inserire il secondo valore"))

inserire il primo valore:4
inserire il secondo valore2

b. effettuare le 4 operazioni aritmetiche tra i due numeri

In [8]:
print("num1 + num2 = " + str(num1 + num2))
print("num1 - num2 = " + str(num1 - num2))
print("num1 * num2 = " + str(num1 * num2))
print("num1 / num2 = " + str(num1 / num2))

num1 + num2 = 6
num1 - num2 = 2
num1 * num2 = 8
num1 / num2 = 2.0

c. effettuare l'elevamento a potenza del primo numero per il secondo

In [9]:
print("num1 ** num2 = " + str(num1**num2))

num1 ** num2 = 16

d. effettuare il calcolo del resto della divisione tra il primo e il secondo numero

In [10]:
print("num1 % num2 = " + str(num1%num2))

num1 % num2 = 0

f. effettuare la divisione intera tra il primo e il secondo numero

In [11]:
print("num1 // num2 =" + str(num1//num2))

num1 // num2 =2

g. incrementare di una unità entrambi i numeri

In [22]:
num1 += 1
num2 += 1
print("variabile num1 incrementata = " + str(num1))
print("variabile num2 incrementata = " + str(num2))

variabile num1 incrementata = 8
variabile num2 incrementata = 6

h. far inserie all'utente due valori: il primo rappresenta la sua altezza (in metri) e il secondo rappresenta il suo peso (in kg). Visualizzare poi l'IMC (google it...)

In [30]:
nval1= float(input("inserire l'altezza (m): "))
nval2= int(input("inserire il peso (Kg): "))

IMC = nval2 / (nval1**2)

print("IMC = " + str(IMC))

inserire l'altezza (m): 1.70
inserire il peso (Kg): 55
IMC = 19.031141868512112

i. arrotondare l'IMC precedente

In [32]:
IMCrounded = round(IMC)
print("Rounded IMC = " + str(IMCrounded))

Rounded IMC = 19

j. visualizzare il proprio nome, cognome, data di nascita e città di nascita separando le informazioni con un trattino.

In [41]:
Name = (input("Inserire Nome: "))
Surname = (input("Inserire Cognome: "))
BirthDay = (input("Inserire Compleanno: "))
BirthCity = (input("Inserire Città di nascita: "))

print("Informazioni Personali: " + str(Name) + " - " + str(Surname) + " - " + str(BirthDay) + " - " + str(BirthCity))

Inserire Nome: Fabrizio
Inserire Cognome: Giurato
Inserire Compleanno: 24/03/2005
Inserire Città di nascita: Milano
Informazioni Personali:  - Fabrizio - Giurato - 24/03/2005 - Milano

k. visualizzare le stesse informazioni per 10 volte di seguito

In [42]:
print(("Informazioni Personali: " + str(Name) + " - " + str(Surname) + " - " + str(BirthDay) + " - " + str(BirthCity))*10)

Informazioni Personali: Fabrizio - Giurato - 24/03/2005 - MilanoInformazioni Personali: Fabrizio - Giurato - 24/03/2005 - MilanoInformazioni Personali: Fabrizio - Giurato - 24/03/2005 - MilanoInformazioni Personali: Fabrizio - Giurato - 24/03/2005 - MilanoInformazioni Personali: Fabrizio - Giurato - 24/03/2005 - MilanoInformazioni Personali: Fabrizio - Giurato - 24/03/2005 - MilanoInformazioni Personali: Fabrizio - Giurato - 24/03/2005 - MilanoInformazioni Personali: Fabrizio - Giurato - 24/03/2005 - MilanoInformazioni Personali: Fabrizio - Giurato - 24/03/2005 - MilanoInformazioni Personali: Fabrizio - Giurato - 24/03/2005 - Milano

l. assegnare il proprio nome e cognome ad una stringa e visualizzarla con tutte le lettere maiuscole

In [43]:
print(upper(str(Name)))
print(str(Surname)upper())

NameError: ignored