# Verifica Sommativa

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Prima facciata del foglio protocollo

1. (0.5 pt.) Caricare in un dataframe le informazioni presenti nel foglio ‘customers’ del file BikeStores
presenta al link

In [ ]:
df = pd.read_excel('https://github.com/wtitze/3E/blob/main/BikeStores.xls?raw=true', sheet_name= 'customers')
df

      customer_id  first_name last_name  ...           city state zip_code
0               1       Debra     Burks  ...   Orchard Park    NY  14127.0
1               2       Kasha      Todd  ...       Campbell    CA  95008.0
2               3      Tameka    Fisher  ...  Redondo Beach    CA  90278.0
3               4       Daryl    Spence  ...      Uniondale    NY  11553.0
4               5  Charolette      Rice  ...     Sacramento    CA  95820.0
...           ...         ...       ...  ...            ...   ...      ...
1440         1441      Jamaal  Morrison  ...  Staten Island    NY  10301.0
1441         1442      Cassie     Cline  ...       Brooklyn    NY  11201.0
1442         1443      Lezlie      Lamb  ...  Central Islip    NY  11722.0
1443         1444      Ivette     Estes  ...    Canandaigua    NY  14424.0
1444         1445       Ester   Acevedo  ...    San Lorenzo    CA  94580.0

[1445 rows x 9 columns]

2. (1 pt.) Sostituire negli indirizzi la parola ‘St’ alla parola ‘Street’

In [ ]:
df["street"] = df["street"].str.replace("St.","Street")
df

3. (1 pt.) Visualizzare la mail dei clienti che abitano in California (CA) ma non a Sacramento

In [ ]:
df[(df["state"]== "CA") & df["city"] != "Sacramento"]["email"]

4. (0.5 pt.) Rinominare la colonna ‘first_name’ in ‘name’ e la colonna’ last_name’ in ‘surname’

In [ ]:
df = df.rename(columns={"first_name": "name", "last_name":"surname"})
df

# Seconda facciata del foglio protocollo

5. (1 pt) Creare una nuova colonna che contenga solo i domini degli indirizzi della posta elettronica (es.
hotmail.com). Chiamare la nuova colonna ‘domain’

In [ ]:
df['domain'] = df['email'].str.split('@').str[1]
df

6. (1.5 pt) Calcolare il numero di clienti per ogni dominio di posta elettronica. Visualizzare il nome del
dominio e il numero di clienti che hanno quel dominio. Ordinare in ordine decrescente sul numero di
clienti e visualizzare le informazioni in un grafico a barre verticali. Dare un nome appropriato al titolo
del grafico e agli assi

In [ ]:
df2 = df.groupby("domain")["name"].count().sort_values(ascending = False)
fig = plt.figure()
ax = plt.axes()
ax.bar(df2.index,df2.values)
fig.suptitle("Grafico")
ax.set_xlabel("Dominio")
ax.set_ylabel("Clienti")

# Terza facciata del foglio

7. (1.5 pt.) Calcolare, per ogni città, il numero di domini e visualizzare le città in cui ci sono almeno 10
domini diversi

In [ ]:
df3 = df.groupby("city")["domain"].nunique().reset_index()
df3[df3["domain"]>=10]["city"]

8. (1 pt.) Visualizzare il cognome più diffuso tra i clienti di BikeStores

In [ ]:
cognome = df.groupby("surname")["name"].count().sort_values(ascending=False)
cognome.head(1).index

9. (1 pt.) Eliminare dal dataframe tutti i clienti che vivono in una zona che ha lo zip_code (analogo al
nostro CAP) che comincia con 141 (supporre che lo zip_code sia una stringa)

In [ ]:
df = df.drop(df["zip_code"].str.startswith("141"))
df