In [ ]:
import pandas as pd

In [ ]:
url = ('https://raw.githubusercontent.com/wtitze/3E/main/Medals.xlsx')
medals = pd.read_excel(url)
medals

In [ ]:
#eliminazione delle ultime due colonne
medals.drop(columns = ['Total','Rank by Total'])

In [ ]:
#eliminazione prima colonna
medals.drop(columns = ['Rank'])

In [ ]:
medals.rename(columns= {'Team/NOC':'Team'},inplace= True)
medals

# VERIFICA A

**`ESERCIZI NON RIUSCITI:`**


* A.6

A.1

In [ ]:
#medaglie d'oro italia
medals[medals['Team']=='Italy']['Gold']

A.2

In [ ]:
#medaglie d'oro nazioni con F
medals[medals['Team'].str.startswith('F')][['Team','Gold']]

GRAFICO A.2

In [ ]:
#grafico medaglie d'oro nazioni con F
import matplotlib.pyplot as plt
x = list(medals[medals['Team'].str.startswith('F')]['Team'])
y = list(medals[medals['Team'].str.startswith('F')]['Gold'])
fig = plt.figure(figsize=(10,12))
plt.rcParams.update({'font.size': 30})
ax = plt.axes()
ax.bar(x,y)

A.3

In [ ]:
# + colonna totale medaglie
medals['Total'] = medals['Bronze'] + medals['Silver'] + medals['Gold']
medals

A.4

In [ ]:
#nazione con piÃ¹ medaglie
medals[medals['Total']==medals['Total'].max()]['Team']

A.5

In [ ]:
medals['Total'].sum()

A.2.0

In [ ]:
teams = pd.read_excel('https://raw.githubusercontent.com/wtitze/3E/main/Teams.xlsx')
teams

A.2.1

In [ ]:
teams[teams['Event'] == 'Men'][['Discipline']]

A.2.2

In [ ]:
teams[teams['Event'] == 'Women'][['Discipline']]

A.2.3

In [ ]:
teams.groupby('Name')['Discipline'].count().sort_values(ascending = False)

A.2.4

In [ ]:
teams.groupby('Discipline')['Name'].count().sort_values(ascending = False)

A.2.5

In [ ]:
teams1 = teams.groupby('Name').count()
z = teams1['NOC'].max()
teams1.loc[teams1['NOC'] == z, ['NOC']]

A.2.6

In [ ]:
teams.drop(columns= ['Event'])

A.2.7

In [ ]:
teams.rename(columns= {'NOC' : 'Name'}, inplace=True)
teams

# VERIFICA B

## **`esercizi non riusciti:`**

*   B.1.1
*   B.1.2
*   B.1.6

In [ ]:
athlets = pd.read_excel('https://raw.githubusercontent.com/wtitze/3E/main/Athletes.xlsx')
athlets

B.1.3

In [ ]:
athlets['Total'] = athlets.groupby('Discipline')['Name'].count()
athlets

B.1.4

In [ ]:
athlets1 = athlets.groupby('NOC').count()
z = athlets1['Name'].max()
athlets1.loc[athlets1['Name'] == z, ['Name']]

B.1.5

In [ ]:
athlets['Name'].count()

B.2.0

In [ ]:
coaches = pd.read_excel('https://raw.githubusercontent.com/wtitze/3E/main/Coaches.xlsx')
coaches

B.2.1

In [ ]:
coaches.groupby('NOC')['Name'].count().sort_values(ascending = False)

B.2.2

In [ ]:
coaches.groupby('Discipline')['Name'].count().sort_values(ascending = False)

B.2.3

In [ ]:
coaches1 = coaches.groupby('NOC').count()
z = coaches1['Name'].max()
coaches1.loc[coaches1['Name'] == z, ['Name']]

B.2.4

In [ ]:
coaches1 = coaches.groupby('NOC').count()
media = coaches.groupby('NOC').count().mean()['Name']
coaches1.loc[coaches1['Name'] >= media] ['Name']

B.2.5

In [ ]:
coaches.drop(columns= ['Name'])

B.2.6

In [ ]:
coaches.rename(columns= {'NOC' : 'Name'}, inplace=True)
coaches